/* ---------------body--------------- */
*{   margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     justify-content: center;
     
}
/* --------------------------Header------------------------------ */

.container{
     background: #161616;

    
border-radius: 30px;
width: 1321px;
height: 646px;
margin-left: 80px;
margin-top: 50px;

}
.header-text{
     color: #FFFFFF;
     padding-top: 111px;
     margin-left: 106px;
}
.h-text1{
     font-size: 70px;
     
    
}
.h-text2{
     font-size: 16px;
     padding-top: 20px;
     
    
}
.anchor-1 a {
     text-decoration: none;
    

     background: #DD0000;
     border-radius: 5px;
  border: none;
  color: #FFFFFF;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  
}
.anchor-1 a:hover {opacity: 1}
.anchor-1 {
     padding-top: 30px;
   
}
/* -------------header - photos------------ */
.image-lawendowski{
     display: flex;
     justify-content: center;
     justify-content: right;   
     align-items: center;
    margin-top: -455px;
    
}
.lawendowski{
     width: 700px;
     height: auto;
     padding-right:80px;

}
/*-------------------------- header down------------------------ */
.box2 ul li a{
     text-decoration: none;
     color: #161616;
     font-size: 20px;
     position: absolute;
     width: 252px;
     height: 64px;
    
     background: #FFFFFF;
border-radius: 10px;
transition: 0.5s;




}
ul li a:hover{
     background-color:  #DD0000;
}
.a1{
     margin-top: 10%;
     margin-left: 30px;
     text-align: center;
}

.a2{
     margin-top: 30%;
margin-left: 30px;
text-align: center;
}
.a3{
margin-top: 50%;
margin-left: 30px;
text-align: center;

}
.box2{
     background: #161616;
     border-radius: 10px;
     position: absolute;
width: 312px;
height: 312px;
     margin-left: 5.5%;
     margin-top: 145px;
    
}

/* ------------------header down image----------- */


/*  ------------grid-flex------
-------------------------------- */
.container-2{
    

     display: grid;
   grid-template-columns:repeat(3,1fr);
   column-gap: 24px;
   row-gap: 24px;
   padding: 10%;
   flex-wrap: wrap;

    
    
     margin-left: 28%;

    

   
     
     
}
.players{
    
   
     border: 1px solid #E8E8E8;
     border-radius: 10px;
     width: 312px;
     height: 362px;

}










.player img{
     width: 312px;
height: 175px;
border-radius: 10px 10px 0px 0px;
}
.transfer{
     width: 100px;
height: 32px;
     border: 1px solid #161616;
border-radius: 5px;
margin-left: 20px;

}
.transfer-live{
     color: #161616;
     padding-top: 19px;
     margin-left: 20px;
}
.icon1{
     padding-top: 20px;
     color: rgba(22, 22, 22, 0.7);
     margin-left: 20px;
}
.icon2{
     color: rgba(22, 22, 22, 0.7);
     display: flex;
     margin-top: -24px;
}
/*------------------------- container 3------------------------ */

     .container3{
          
          background: #161616;
          width: 1450px;
height: 444px;
          text-align: center;
          justify-items: center;
         
     }
    
     .goal footer{
          color: 
          #FFFFFF;
          font-size: 40px;
         
         
     }
     .navigations{
         margin-top: 100px;
     }


     .navigations ul nav a{
          text-decoration: none;
          font-size: 16px;
          color: #B9B9B9;
          padding: 20px ;
          
         
          font-feature-settings: 'liga' off;
     }
     hr{
          border: 1px solid rgba(255, 255, 255, 0.1);
          width: 1320px;
height: 0px;
margin-top: 200px;

     }
/* ---------------------------mobile quary------------------------- */

 @media screen and  (max-width:640px){
     *{
          margin: 0;
          padding: 0;
     }
     .container{
          
          width: 334px;
height: 472px;
}
.h-text1{
     font-size: 22px;
     margin-top: -70px;
}
.h-text2{
     font-size: 5px;
}
.lawendowski{
     width: 250px;
     margin-top: 152.5%;
     margin-left: 15%;
}
.box2{
    margin-left: 22%;
   
}
.a1{
     margin-top: 10%;
}
.a2{
     margin-top: 25%;
}
.a3{
     margin-top: 40%;
}
.container-2{
     display: flex;
     margin-top: 10%;
     margin-right: 10%;
}
.container3{
     width: 375px;
     height: 412px;

}
hr{
     margin-top: -5px;
}
.navigations ul nav a{
     display: flex;
     font-size: 14px;
     margin-top: -30px;

}

 }
 
 
   /* --------------------Tablet Queries -------------*/


@media only screen and (min-width:688px) and (max-width:992px){
*{
     margin: 0;
     padding: 0;
}
     .container{
          width: 734px;
height: 398px;

     }
     .lawendowski{
          width: 350px;
          margin-top: 61%;
          margin-left: 15%;
     }
   
     .h-text1{
          font-size: 35px;
          margin-top: -50px;
     }
     .h-text2{
          font-size: 8px;
     }
   .box2{
     margin-left: 38%;
}
.a2{
     margin-top: 11%;
}
.a3{
     margin-top: 20%;
}
   
   

     .container-2{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          margin-top: 10px;
          margin-right: 20%;
          
        
     }
     .container3{
          width: 834px;
height: 345px;
     }
     hr{
          width: 734px;
          margin-top: -5px;
     }
   
}










