/* ---------------body--------------- */
*{   margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     justify-content: center;
     
}
/* --------------------------Header------------------------------ */

.container{
     background: #161616;

    
border-radius: 30px;
width: 1321px;
height: 646px;
margin-left: 80px;
margin-top: 50px;

}
.header-text{
     color: #FFFFFF;
     padding-top: 111px;
     margin-left: 106px;
}
.h-text1{
     font-size: 70px;
     
    
}
.h-text2{
     font-size: 16px;
     padding-top: 20px;
     
    
}
.anchor-1 a {
     text-decoration: none;
    

     background: #DD0000;
     border-radius: 5px;
  border: none;
  color: #FFFFFF;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  
}
.anchor-1 a:hover {opacity: 1}
.anchor-1 {
     padding-top: 30px;
   
}
/* -------------header - photos------------ */
.image-lawendowski{
     display: flex;
     justify-content: center;
     justify-content: right;   
     align-items: center;
    margin-top: -455px;
    
}
.lawendowski{
     width: 700px;
     height: auto;
     padding-right:80px;

}
/*-------------------------- header down------------------------ */











