/* ----------------upcoming body------------------ */
*{   margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     justify-content: center;
     
}
/* ------------------upcoming header--------------- */
.container{
     background: #161616;

    
border-radius: 30px;
width: 1321px;
height: 646px;
margin-left: 80px;
margin-top: 50px;

}
.header-text{
     color: #FFFFFF;
     padding-top: 111px;
     margin-left: 106px;
}
.h-text1{
     font-size: 70px;
     
    
}
.h-text2{
     font-size: 16px;
     padding-top: 20px;
     
    
}
.anchor-1 a {
     text-decoration: none;
    

     background: #DD0000;
     border-radius: 5px;
  border: none;
  color: #FFFFFF;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  
}
.anchor-1 a:hover {opacity: 1}
.anchor-1 {
     padding-top: 30px;
   
}
/* -------------upcoming header - photos------------ */
.image-lawendowski{
     display: flex;
     justify-content: center;
     justify-content: right;   
     align-items: center;
    margin-top: -455px;
    
}
.lawendowski{
     width: 700px;
     height: auto;
     padding-right:80px;

}
/*--------------------------upcoming header down------------------------ */

.box2{
     background: #161616;
border-radius: 10px;
width: 312px;
height: 312px;
margin-left: 85px;
margin-top: 130px;
text-align: center;
display: grid;
grid-template-rows: repeat(3,1fr);


}
.box2 a{
     
     text-decoration: none;
     width: 252px;
     height: 252px;

    background: #ffc803;
   
    border-radius: 10px;
  border: none;
  color: #161616;
  padding: 17px 39px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  
}
.box2 a:hover {opacity: 1}
.box2 h4{
     padding-top: 50px;
}
/* --------------upcoming container 2 ---------------------------  */

.container-2{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     padding-left: 29%;
   margin-top: -21.5%;
   
   row-gap: 20px;
    
    
     
}
.blogs{
    

    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
border-radius: 10px;
}

.flag{
     
   
     width: 252px;
     height: 136.18px;
     margin-left: 30px;
    margin-top: 53px;
   
}
.germeny-vs-france{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
    
}
.germeny-vs-france h3{
     color: #161616;
     font-size: 16px;
     padding: 20.92px;
}
.flag-text{
     text-align: center;
margin-top: 20px;
}
.flag-text h3{
     color: #161616;
     font-size: 20px;
}
.flag-text p{
     color: #4D4D4D;
     font-size: 16px;
     margin-top: 10px;
}
/*------------------------- container 3------------------------ */

.container3{
     background: #161616;
     width: 1450px;
height: 444px;
     text-align: center;
     justify-items: center;
    
}

.goal footer{
     color: 
     #FFFFFF;
     font-size: 40px;
    
    
}
.navigations{
    margin-top: 100px;
}


.navigations ul nav a{
     text-decoration: none;
     font-size: 16px;
     color: #B9B9B9;
     padding: 20px ;
     
    
     font-feature-settings: 'liga' off;
}
hr{
     border: 1px solid rgba(255, 255, 255, 0.1);
     width: 1320px;
height: 0px;
margin-top: 200px;}

/* ---------------------------mobile quary------------------------- */

@media  (max-width:688px){
 
     .container{
     
          width: 334px;
     height: 472px;
     
     background: #161616;
     border-radius: 10px;
     background: #161616;
     border-radius: 10px;
        } 
           .h-text1{
               font-size: 22px;
               margin-top: -80px;
           }
           .h-text2{
               font-size: 5px;
               
           }
           .lawendowski{
               width: 233px;
               margin-top: 168%;
              
     
           }
           .box2{
              margin-top: 20px;
           }
           .container-2{
             
            display: flex;
            flex-direction: column;
            margin-top: 20px;
             
           }
          
           .container3{
               width: 500px;
     height: 412px;
     text-align: center;
     justify-content: center;
    
     
           }
           
           
           hr{
               margin-top: -5px;
     
           }
           .navigations{
              margin-top: -10px;
           }
           ul nav a{
               display: flex;
           }
     
     
          }

/*---------------------- tablet device------------------------- */


 
